* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

@media(min-width:1040.1px) {
    
  /* header */

    #header {
        width: 100%;
        height: 120px;
        background-color: rgb(0, 0, 0);
        display: flex;
        position: sticky;
        top: 0;
        z-index: 800;
    }
    #header .nav {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    #header .logo {
        margin-left: 20px;
        margin-top: 10px;
    }
    #header .nav-menu {    
        display: flex;
        width: 50%;
    }
    #header .nav-menu li {
        display: block;
        line-height: 30px;
        margin: auto;
    }
    #header .nav-menu li a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 500ms ease;
    }
    #header .nav-menu li a:hover{
        background-color: rgb(125, 158, 132);
    }
    #check {
        display: none;
    }
    #header .bar-btn {
        display: none;
    }

    /* section */


    #section {
        width: 100%;
        height: 400px;
        background-color: rgb(146, 27, 27);
        display: flex;
        position: sticky;          
    }
    #section .section__div {
        height: 100%;
        width: 100%;
        display: flex;          
    }
    #section .section__titulo {
        width: 60%;
        height: 20%;
        text-align: right;
    }
    #section .section__titulo h2 {
    /*         width: 100%;
        height: auto; */
    }
    #section .section__img {
        display: flex;
        width: 50%;
        height: 100%;
        text-align: center;
        align-items: center;
    }
    #section .section__img img {
        width: 500px;
        height: auto;
        margin: auto;
    }
    #section .section__texto {
        width: 50%;
        height: 100%;
    }
    #section .section__texto h2 {
        text-align: center;
        padding-top: 45px;
        font-size: 40px;
    }
    #section .section__texto p {
        text-align: left;
        padding-top: 15px;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 30px;
    }

    /* QUIENES SOMOS */
    #section__QuienesSomos {
        width: 100%;
        display: flex;
        height: 100vh;
        padding: 40px;
        background-color: rgb(125, 158, 132);
    }
    #section__QuienesSomos .QuienesSomos__text {
        width: 100%;
        height: 100vh;
        font-size: 20px;
        line-height: 1.5;
        text-align: justify;
    }
    #section__QuienesSomos .QuienesSomos__text img {
        width: 500px;  
        border-radius: 5px;
        float: left;
        margin-right: 15px;
    }    
    #section__QuienesSomos .QuienesSomos__text h2 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #section__QuienesSomos .QuienesSomos__text p {
        text-indent: 2%;
    }
    /* BOTON DE SUBIR */

    .ir-top-container {
        position: fixed;
        bottom: 4rem;
        right: 4rem;
        width: 6.6rem;
        height: 6.6rem;
        z-index: -1;
    }
    .ir-top-button{    
        width: 0rem;
        height: 0rem;
        background: rgb(125, 158, 132);
        border-radius: 50%;
        cursor: pointer;
        transition: .2s;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    .ir-top-container .ir-top-button i {
        position: absolute;
        font-size: 1.7rem;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: red;
        transition: .2s;
    }
    .show {
        z-index: 10;
    }
    .show .ir-top-button {
        animation: popup .3s ease-in-out;
        width: 6.6rem;
        height: 6.6rem;
        z-index: 11;
    }
    .show i {
        transform: translate(-50%, -50%) scale(1);
    }
    @keyframes popup{
        0%{
            width: 0rem;
            height: 0rem;
        }
        50%{
            width: 8rem;
            height: 8rem;
        }
        100%{
            width: 6.6rem;
            height: 6.6rem;
        }
        
    }


    /*FOOTER */

    #pie-pagina {
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    #pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    #pie-pagina .grupo-1 .box .img-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pie-pagina .grupo-1 .box .img-footer img{
        width: 250px;
    }
    #pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;    
    }
    #pie-pagina .grupo-1 .box .paginas-sitio {
        display: inline-block;
    }
    #pie-pagina .grupo-1 .box .paginas-sitio a{
        display: block;
        color: #efefef;
        margin-bottom: 5px;
        transition: all 500ms ease;
    }
    #pie-pagina .grupo-1 .box .paginas-sitio a:hover{
        background-color: rgb(125, 158, 132);
    }
    #pie-pagina .grupo-1 .box .red-social a{
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;    
        background-color: rgb(34, 27, 27);
        text-align: center;
        transition: all 300ms ease;
    }
    #pie-pagina .grupo-1 .box .red-social a:hover {
        color: rgb(125, 158, 132);
    }
    #pie-pagina .grupo-2 {
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    #pie-pagina .grupo-2 small{
        font-size: 15px;
    }






}
@media(max-width:1040px) {
    
    #header {
        width: 100%;
        height: 120px;
        background-color: rgb(0, 0, 0);
        display: flex;
        position: sticky;
        top: 0;
        z-index: 800;
    }
    #header .nav {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    #header .logo {
        margin-left: 20px;
        margin-top: 10px;    
    }
    #header .bar-btn {
        font-size: 25px;
        color: #fff;
        margin-right: 20px;
        cursor: pointer;
        margin-top: 20px;
    }
    #header .nav-menu {    
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 118px;
        background: rgba(0, 0, 0, 0.912);
        text-align: center;
        transition: all .05s;
    }
    #header .nav-menu li {
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
    }
    #header .nav-menu li a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
    #check {
        display: none;
    }
    #check:checked ~ .nav-menu {
        height: 369px;
    }
    #check:checked ~ .nav-menu li {
        display: block;
    }



    #section {
        width: 100%;
        height: 400px;
        background-color: rgb(146, 27, 27);
        display: flex;
        position: sticky;          
    }
    #section .section__div {
        height: 100%;
        width: 100%;
        display: flex;          
    }
    #section .section__titulo {
        width: 60%;
        height: 20%;
        text-align: right;
    }
    #section .section__titulo h2 {
    /*         width: 100%;
        height: auto; */
    }
    #section .section__img {
        display: flex;
        width: 50%;
        height: 100%;
        text-align: center;
        align-items: center;
    }
    #section .section__img img {
        width: 500px;
        height: auto;
        margin: auto;
    }
    #section .section__texto {
        width: 50%;
        height: 100%;
    }
    #section .section__texto h2 {
        text-align: center;
        padding-top: 45px;
        font-size: 40px;
    }
    #section .section__texto p {
        text-align: left;
        padding-top: 15px;
        padding-right: 5%;
        padding-left: 5%;
        font-size: 30px;
    }
 

    /*FOOTER */


    #pie-pagina {
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    #pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    #pie-pagina .grupo-1 .box .img-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pie-pagina .grupo-1 .box .img-footer img{
        width: 250px;
    }
    #pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;  
        text-align: center;  
    }
    #pie-pagina .grupo-1 .box .paginas-sitio {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    #pie-pagina .grupo-1 .box .paginas-sitio a{
        display: block;
        color: #efefef;
        margin-bottom: 5px;
    }
    #pie-pagina .grupo-1 .box .red-social {
        text-align: center;
    }
    #pie-pagina .grupo-1 .box .red-social a{
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;    
        background-color: rgb(34, 27, 27);
        text-align: center;
        transition: all 300ms ease;
    }
    #pie-pagina .grupo-1 .box .red-social a:hover {
        color: rgb(125, 158, 132);
    }
    #pie-pagina .grupo-2 {
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    #pie-pagina .grupo-2 small{
        font-size: 15px;
    }

}
