* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    background-color: black;
    padding: 5px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 800;
}
#header .nav {
    display: none;
}

#header .header__logo img {
    width: 200px;
    height: auto;
    margin-left: 50px;
}
#header .header__menu ul {
    display: flex;
    list-style: none;
}
#header .header__menu ul li a {
    
    padding: 15px;
    margin: 0 30px;
    color: white;
}
#header .header__menu ul li a:hover {
    background-color: rgb(125, 158, 132);
}
#section {
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: rgb(125, 158, 132);
    height: 400px;
    }
#section .quienesSomos__img {
    width: 400px;
    float: left;
    margin-left: 50px;
}
#section h2 {
    margin-top: 10px;
    margin-left: 650px;
    font-size: 40px;
}
#section .quienesSomos__text p{
    margin-left: 650px;
    margin-top: 70px;
    font-size: 20px;
    width: 550px;
}
#trabajo {
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: rgb(255, 230, 168);
    height: 400px;
}
#trabajo .trabajo__img2 {
    width: 400px;
    float: right;
    margin-right: 50px;
}
#trabajo h2{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 40px;
}
#trabajo .trabajo__lista{
    margin-left: 250px;
    margin-top: 30px;
    font-size: 20px;
}
#trabajo .trabajo__lista ul{
    margin-left: 30px;
}
#formulario{
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: rgb(125, 158, 132);
    height: 600px;
}
#formulario .formulario__titulo{
    margin-top: 20px;
    margin-left: 50px;
    font-size: 25px;
}
#formulario .formulario__preguntas{
    position:relative;
    background-color: rgb(255, 230, 168);
    width: 420px;
    height: 350px;
    border-radius: 15px;
    margin-left: 100px;
    box-shadow: rgb(125, 158, 132);
    float: left;
}
#formulario .formulario__preguntas div{
    margin-top: 2.5%;
    margin-left: 3%;
    font-size: 16px;
}
#formulario .formulario__preguntas div input{
    border-style: none;
    border-bottom: 1px solid black;
}
#formulario .formulario__preguntas .botones{
    border: 1px solid rgb(125, 158, 132);
    width: 170px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    border-style: none;
    margin-left: 3%;
}
#formulario .formulario__preguntas .botones button{
    width: 73px;
    height: 30px;
}
#formulario .formulario__preguntas .botones button:hover{
    background-color: rgb(125, 158, 132);  
}
#formulario__mapa{
    width: 500px;
    height: 450px;
    float: right;
    margin-top: -50px;
    margin-right: 0px;
}
#formulario .formulario__telefono{
    margin-top: 10px;
    margin-left: 100px;
    font-size: 20px;
    float: left;
}
#pie .pie__normal {
    background-color: black;
    padding: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 0;
}
#pie .pie__normal nav ul{
    display: flex;
    list-style: none;
}
#pie .pie__normal nav ul{
    border: 2px solid white;
    padding: 5px;
    margin: 0 30px;
    color: white;
}
#pie .pie__normal nav ul li a{
    color: white;
    margin-left: 2px;
    margin-right: 2px;
}
#section-QuienesSomos {
    width: 100%;
    margin: auto;
    padding: 40px;
    background-color: rgb(125, 158, 132);
    height: 600px;
    }
#section-QuienesSomos .section-QuienesSomos__img {
    width: 400px;
    float: left;
    margin-right: 150px;
}
#section-QuienesSomos h2 {
    margin-top: 10px;
    margin-left: 750px;
    font-size: 40px;
}
#section-QuienesSomos .section-QuienesSomos__text p{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 16px;
    width: 1200px;
    text-align: left;
}
#section-ObrasRealizadas {
    width: 100%;
    height: 100%;
    background-color: rgb(125, 158, 132);
    height: 600px;
    }
#section-obrasRealizadas .section-titulo h2{
    width: 100%;
    text-align: center;
    background-color: rgb(125, 158, 132);
    
}
#section-obrasRealizadas .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-gap: 200px;
    background-color: rgb(125, 158, 132);
}
#section-obrasRealizadas .grid-container img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    
}
#section-ObrasRealizadas h2 {
    width: 100%;
    margin-top: 10px;    
    font-size: 40px;
    text-align: center;
    align-items: center;
}
@media(max-width:1040px) {
#header .header__menu {
    display: none;
}

#header .nav {
    display: block;
}    
#header {
    width: 100%;
    height: 120px;
    background-color: rgb(0, 0, 0);
}
#header .nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
#header .logo {
    margin-left: 20px;
    margin-top: 20px;
}
#header .bar-btn {
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
    margin-top: 20px;
}
#header .nav-menu {    
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 120px;
    background: rgba(0, 0, 0, 0.912);
    text-align: center;
    transition: all .05s;
    
}
#header .nav-menu li {
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}
#header .nav-menu li a {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height: 100vh;
}
#check:checked ~ .nav-menu li {
    display: block;
}
    #section {
        width: 100%;
        background-color: rgb(125, 158, 132);
        height: 300px;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    #section h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 100%;
        margin: 0;
        padding: 0;
        order: -1;
        height: 50px;
        padding-top: 36px;

    }
    #section .quienesSomos__img {
        width: 60%;
        flex: 1 1 60%;
        padding: 0;
        margin-left: 20px;
        margin-top: -56px;
        align-items: center;
        display: flex;
    }
    #section .quienesSomos__text{
        width: 30%;
        padding-right: 172px;
    }
    #section .quienesSomos__text p{ 
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        margin: 0;
        padding: 0;
        height: 169px;
        width: 220px;
        padding-right: 82px;
    }

    #trabajo {
        width: 100%;
        background-color: rgb(255, 230, 168);
        height: 300px;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    #trabajo h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 100%;
        margin: 0;
        padding: 0;
        order: -1;
        height: 50px;
        padding-top: 36px;
    }
    #trabajo .trabajo__img2 {
        width: 30%;
        flex: 1 1 60%;
        padding: 0;
        margin-left: 26px;
        margin-top: 37px;
        margin-right: 300px;
        align-items: center;
        display: flex;
    }
    #trabajo .trabajo__lista {
        margin-left: 247px;
        margin-top: -152px;
        font-size: 20px;
    }
    #section .trabajo__lista .l1{ 
        width: 30%;
        padding-right: 172px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        margin: 0;
        padding: 0;
        height: 169px;
        width: 220px;
        padding-right: 82px;
    }


    #formulario {
        width: 100%;
        background-color: rgb(125, 158, 132);
        height: 1100px;
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    #formulario .formulario__titulo h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        width: 100%;
        margin: 0;
        padding: 0;
        order: -1;
        height: 50px;
        padding-top: 36px;
    }
    #formulario .formulario__preguntas {
        margin-top: 50px;
        margin-right: 97px;
        justify-content: center;
        align-items: center;
    }
    #formulario__mapa {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #pie .pie__responsive {
       display: inline-block;
    }
    #pie .pie-responsive nav ul{
        display: block;
        list-style: none;
    }
    #pie .pie-responsive nav ul{
        border: 2px solid white;
        padding: 5px;
        margin: 0 30px;
        color: white;
    }
    #pie .pie-responsive nav ul li a{
        color: white;
        margin-left: 2px;
        margin-right: 2px;
    }   


}
