* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
   
}

@media(min-width:1040.1px) {
    
  /* header */

    #header {
        width: 100%;
        height: 120px;
        background-color: rgb(0, 0, 0);
        display: flex;
        position: sticky;
        top: 0;
        z-index: 800;
    }
    #header .nav {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    #header .logo {
        margin-left: 20px;
        margin-top: 10px;
    }
    #header .nav-menu {    
        display: flex;
        width: 50%;
    }
    #header .nav-menu li {
        display: block;
        line-height: 30px;
        margin: auto;
    }
    #header .nav-menu li a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        transition: all 500ms ease;
    }
    #header .nav-menu li a:hover{
        background-color: rgb(125, 158, 132);
    }
    #check {
        display: none;
    }
    #header .bar-btn {
        display: none;
    }

    /* section */

    #quienes-somos {
        width: 100%;
        background: rgb(125, 158, 132);
    }
    #quienes-somos .grupo-1-QS {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 45px 0px;
    }
    #quienes-somos .grupo-1-QS .box-1-QS {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #quienes-somos .grupo-1-QS .box-1-QS img {
        width: 80%;
        height: 100%;
    }
    #quienes-somos .grupo-1-QS .box-2-QS {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 26px;
    }
    #quienes-somos .grupo-1-QS .box-2-QS h2{
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        text-align: center;
        width: 90%;
    }

    #quienes-somos .grupo-1-QS .box-2-QS p{
        font-size: 25px;
        text-indent: 30px;
        width: 90%;
        text-align: center;
    }



    /* trabajo */

    #trabajo {
        width: 100%;
        background: rgb(255, 230, 168);
    }
    #trabajo .grupo-1-trabajo {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 45px 0px;
    }
    #trabajo .grupo-1-trabajo .box-1-trabajo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #trabajo .grupo-1-trabajo .box-1-trabajo img {
        width: 80%;
        height: 100%;
    }
    #trabajo .grupo-1-trabajo .box-2-trabajo {
        width: 100%;
        /* display: flex; */
        justify-content: center;
        margin-top: 26px;
    }
    #trabajo .grupo-1-trabajo .box-2-trabajo h2{
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    #trabajo .grupo-1-trabajo .box-2-trabajo .l1 {
        font-size: 25px;
        text-indent: 30px;
        width: 100%;
        text-align: center;
    }







    /* comunicacion */

    #formulario {
        width: 100%;
        background: rgb(125, 158, 132);
    }
    #formulario .grupo-1_form {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 45px 0px;
    }
    #formulario .grupo-1_form .box-form-2 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #formulario__mapa{
        width: 70%;
        height: 100%;
    }
    #formulario .grupo-1_form .box-form h2{
        color: rgb(0, 0, 0);
        margin-bottom: 25px;
        text-align: center;    
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner {
        width: 100%;
        background-color: rgb(125, 158, 132);
        text-align: center;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas {
        display: inline-block;
        background-color: rgb(255, 230, 168);
        width: 354px;
        height: 415px;
        border-radius: 15px;
        padding-top: 2%;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas div input{
        border-style: none;
        border-bottom: 1px solid black;
        width: 90%;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas div textarea{
        resize: none;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas .botones{
        border: 1px solid rgb(125, 158, 132);
        width: 100%;
        height: 30px;
        font-size: 16px;
        border-radius: 4px;
        border-style: none;
        text-align: center;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas .botones input{
        width: 50%;
        transition: all 300ms ease;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas .botones input:hover{
        background-color: rgb(125, 158, 132);  
    }

    #formulario .grupo-1_form .box-form .formulario__conteiner-2 {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 26px;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner-2 .formulario__telefono  {
        width: 75%;
        height: 100%;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner-2 .formulario__telefono h3{
        text-align: center;
        font-size: 25px;
    }
    #formulario .grupo-1_form .box-form .formulario__conteiner-2 .formulario__telefono p{
        text-align: center;
        font-size: 20px;
    }


    /* QUIENES SOMOS */
    #section__QuienesSomos {
        width: 100%;
        display: flex;
        padding: 40px;
        background-color: rgb(125, 158, 132);
    }
    #section__QuienesSomos .QuienesSomos__text {
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 1.5;
        
    }
    #section__QuienesSomos .QuienesSomos__text img {
        width: 500px;  
        border-radius: 5px;
        float: left;
        margin-right: 15px;
    }    
    #section__QuienesSomos .QuienesSomos__text h2 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #section__QuienesSomos .QuienesSomos__text p {
        text-indent: 2%;
    }
    /* BOTON DE SUBIR */

    #ir-top {
        width: 70px;
        height: 70px;
        background: rgb(125, 158, 132);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        display: none;
    }


    /*FOOTER */

    #pie-pagina {
        width: 100%;
        background-color: rgb(0, 0, 0);
        z-index: 1;
    }
    #pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    #pie-pagina .grupo-1 .box .img-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pie-pagina .grupo-1 .box .img-footer img{
        width: 250px;
    }
    #pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;    
    }
    #pie-pagina .grupo-1 .box .paginas-sitio {
        display: inline-block;
    }
    #pie-pagina .grupo-1 .box .paginas-sitio a{
        display: block;
        color: #efefef;
        margin-bottom: 5px;
        transition: all 500ms ease;
    }
    #pie-pagina .grupo-1 .box .paginas-sitio a:hover{
        background-color: rgb(125, 158, 132);
    }
    #pie-pagina .grupo-1 .box .red-social a{
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;    
        background-color: rgb(34, 27, 27);
        text-align: center;
        transition: all 300ms ease;
    }
    #pie-pagina .grupo-1 .box .red-social a:hover {
        color: rgb(125, 158, 132);
    }
    #pie-pagina .grupo-2 {
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    #pie-pagina .grupo-2 small{
        font-size: 15px;
    }






}
@media(max-width:1040px) {
    
    #header {
        width: 100%;
        height: 120px;
        background-color: rgb(0, 0, 0);
        display: flex;
        position: sticky;
        top: 0;
        z-index: 800;
    }
    #header .nav {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }
    #header .logo {
        margin-left: 20px;
        margin-top: 10px;    
    }
    #header .bar-btn {
        font-size: 25px;
        color: #fff;
        margin-right: 20px;
        cursor: pointer;
        margin-top: 20px;
    }
    #header .nav-menu {    
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 118px;
        background: rgba(0, 0, 0, 0.912);
        text-align: center;
        transition: all .05s;
    }
    #header .nav-menu li {
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
    }
    #header .nav-menu li a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
    #check {
        display: none;
    }
    #check:checked ~ .nav-menu {
        height: 369px;
    }
    #check:checked ~ .nav-menu li {
        display: block;
    }



    /* section */

    #quienes-somos {
        width: 100%;
        background: rgb(125, 158, 132);
    }
    #quienes-somos .grupo-1-QS {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 45px 0px;
    }
    #quienes-somos .grupo-1-QS .box-1-QS {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #quienes-somos .grupo-1-QS .box-1-QS img {
        width: 80%;
        height: 100%;
    }
    #quienes-somos .grupo-1-QS .box-2-QS {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 26px;
    }
    #quienes-somos .grupo-1-QS .box-2-QS h2{
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        text-align: center;
    }

    #quienes-somos .grupo-1-QS .box-2-QS p{
        font-size: 25px;
        text-indent: 30px;
        text-align: center;
        margin-left: 40px;
        margin-right: 40px
    }
    /* QUIENES SOMOS */
    #section__QuienesSomos {
        width: 100%;
        display: flex;
        
        padding: 40px;
        background-color: rgb(125, 158, 132);
    }
    #section__QuienesSomos .QuienesSomos__text {
        width: 100%;
        height: 100%;
        font-size: 20px;
        line-height: 1.5;
    }
    #section__QuienesSomos .QuienesSomos__text img {
        width: 250px;  
        border-radius: 5px;
        float: left;
        margin-right: 15px;
    }    
    #section__QuienesSomos .QuienesSomos__text h2 {
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #section__QuienesSomos .QuienesSomos__text p {
        text-indent: 2%;
    }

        /* trabajo */

    #trabajo {
        width: 100%;
        background: rgb(255, 230, 168);
    }
    #trabajo .grupo-1-trabajo {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 45px 0px;
    }
    #trabajo .grupo-1-trabajo .box-1-trabajo {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #trabajo .grupo-1-trabajo .box-1-trabajo img {
        width: 80%;
        height: 100%;
    }
    #trabajo .grupo-1-trabajo .box-2-trabajo {
        width: 100%;
        /* display: flex; */
        justify-content: center;
        margin-top: 26px;
    }
    #trabajo .grupo-1-trabajo .box-2-trabajo h2{
        color: rgb(0, 0, 0);
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }

    #trabajo .grupo-1-trabajo .box-2-trabajo .l1 {
        font-size: 25px;
        text-indent: 30px;
        width: 100%;
        text-align: center;
    }




        /* comunicacion */

        #formulario {
            width: 100%;
            background: rgb(125, 158, 132);
        }
        #formulario .grupo-1_form {
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            padding: 45px 0px;
        }
        #formulario .grupo-1_form .box-form-2 {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #formulario__mapa{
            width: 70%;
            height: 100%;
        }
        #formulario .grupo-1_form .box-form h2{
            color: rgb(0, 0, 0);
            margin-bottom: 25px;
            text-align: center;    
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner {
            width: 100%;
            background-color: rgb(125, 158, 132);
            text-align: center;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas {
            display: inline-block;
            background-color: rgb(255, 230, 168);
            width: 300px;
            height: 415px;
            border-radius: 15px;
            padding-top: 2%;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas div input{
            border-style: none;
            border-bottom: 1px solid black;
            width: 90%;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas div textarea{
            resize: none;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas .botones{
            border: 1px solid rgb(125, 158, 132);
            width: 100%;
            height: 30px;
            font-size: 16px;
            border-radius: 4px;
            border-style: none;
            text-align: center;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas .botones input{
            width: 50%;
            transition: all 300ms ease;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner .formulario__preguntas .botones input:hover{
            background-color: rgb(125, 158, 132);  
        }
    
        #formulario .grupo-1_form .box-form .formulario__conteiner-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 26px;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner-2 .formulario__telefono  {
            width: 75%;
            height: 100%;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner-2 .formulario__telefono h3{
            text-align: center;
            font-size: 25px;
        }
        #formulario .grupo-1_form .box-form .formulario__conteiner-2 .formulario__telefono p{
            text-align: center;
            font-size: 20px;
        }
    
 

    /*FOOTER */


    #pie-pagina {
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    #pie-pagina .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    #pie-pagina .grupo-1 .box .img-footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #pie-pagina .grupo-1 .box .img-footer img{
        width: 250px;
    }
    #pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;  
        text-align: center;  
    }
    #pie-pagina .grupo-1 .box .paginas-sitio {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    #pie-pagina .grupo-1 .box .paginas-sitio a{
        display: block;
        color: #efefef;
        margin-bottom: 5px;
    }
    #pie-pagina .grupo-1 .box .red-social {
        text-align: center;
    }
    #pie-pagina .grupo-1 .box .red-social a{
        display: inline-block;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;    
        background-color: rgb(34, 27, 27);
        text-align: center;
        transition: all 300ms ease;
    }
    #pie-pagina .grupo-1 .box .red-social a:hover {
        color: rgb(125, 158, 132);
    }
    #pie-pagina .grupo-2 {
        background-color: black;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    #pie-pagina .grupo-2 small{
        font-size: 15px;
    }
    #ir-top {
        width: 70px;
        height: 70px;
        background: rgb(125, 158, 132);
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        display: none;
    }
}


@media(max-width:468px) {
    #section__QuienesSomos .QuienesSomos__text .QuienesSomos__img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #section__QuienesSomos .QuienesSomos__text img {
        width: 250px;  
        border-radius: 5px;
        margin-right: 0px;
    }    

}    